<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>240800815641-q25vsob8vn95i5oih004dajlirlruikj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.240800815641-q25vsob8vn95i5oih004dajlirlruikj</string>
	<key>API_KEY</key>
	<string>AIzaSyAky_rxNJe95yukQU2PEqSt9EwWlGhnDdo</string>
	<key>GCM_SENDER_ID</key>
	<string>240800815641</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.capstoneProject</string>
	<key>PROJECT_ID</key>
	<string>capstone-project-71a6a</string>
	<key>STORAGE_BUCKET</key>
	<string>capstone-project-71a6a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:240800815641:ios:1227c2d39aabdf3a44a888</string>
</dict>
</plist>